// **********************************************
// _variables.scss
// **********************************************

//@import url('https://fonts.googleapis.com/css?family=Aleo:300,300i,400,400i,700,700i');

//fonts
//$font-stack-primary: 'Aleo', serif;

//colors
$white: #fff;
$primary-color: #58E1C1; //turqoise
$default-color: #51DDFC; //light blue
$success-color: #63CC81; //green
$error-color: #E4757A; //soil red
$warning-color: #FD7856; //orange
$info-color: #927BC1; //pruple
