// **********************************************
// _variables.scss
// **********************************************


//fonts
$font-stack-primary: 'Aleo', serif;

//colors
$white: #fff;
$default-text-color: #9a9999; //dark grey
$primary-color: #58E1C1; //turqoise
$primary-color-lighter: lighten($primary-color, 25%); //lighter turqoise
$default-color: #51DDFC; //light blue
$success-color: #63CC81; //green
$error-color: #E4757A; //soil red
$warning-color: #FD7856; //orange
$info-color: #927BC1; //pruple

//padding
$button-padding: 1em 10px 1em;

//Buttons
$button-bordradius: 5px;

//text layout
$default-lineheight: 1.6;

//breakpoints
$mq-medium: 768px;
