// **********************************************
// _images.scss
// styles related to the image elements
// **********************************************

img {
  @include imagecenter;
}

.img--frame {
  width: 100%;
  padding: 1em;
  border: $default-text-color solid 1px;
}
.img--logo {
  margin: 0.5em auto 0.5em auto;
}
