// **********************************************
// _navigation.scss
// styles related to the nav elements
// **********************************************

.nav {
  &__item {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    padding: $button-padding;
    &:hover {
      background-color: $primary-color;
      @include bg-rd;
      color: $white;
    }
    &:hover a {
      background-color: $primary-color;
      color: $white;
    }
    & a {
      color: $default-text-color;
    }
  }
}
