// **********************************************
// _typography.scss
// styles related to the typo and fonts
// **********************************************

.blockquote, p, h1, h2, h3, h4 {
  line-height: $default-lineheight;
}

.headline--primary {
  color: $primary-color;
  margin-left: 1em;
  line-height: 1.1;
}
.headline--secondary {
  color: $default-text-color;
  font-weight: normal;
}
