// **********************************************
// base.scss
// styles related to base elements
// **********************************************
@import url('https://fonts.googleapis.com/css?family=Aleo:300,300i,400,400i,700,700i');

* {
  box-sizing: border-box;
  font-family: $font-stack-primary;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

p {
  color: $default-text-color;
  line-height: $default-lineheight;
}

a {
  text-decoration: none;
  color: $default-color;
}

/*body*/
.container {
//  padding: 0 1em;
}
